# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
.venv_app/
env/
venv/

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# App uploads/runtime
uploads/


